<div
  [ngClass]="{
    wrapper: true,
    horizontal: isHorizontal,
    vertical: !isHorizontal
  }"
>
  <div class="aside">
    <form class="dad-jokes-form" [formGroup]="searchForm">
      <input
        type="text"
        placeholder="Jokes filter"
        (keyup.Enter)="loadJokes()"
        formControlName="searchTerm"
      />
      <input
        type="number"
        placeholder="How many"
        (keyup.Enter)="loadJokes()"
        value="20"
        formControlName="howMany"
      />
      <div
        *ngIf="searchForm.get('howMany')?.errors?.isNegative"
        class="number-error"
      >
        Number of jokes must be positive
      </div>
    </form>
  </div>
  <app-dad-jokes
    [paragraphs]="(jokes$ | async) || []"
    [title]="getTitle()"
  ></app-dad-jokes>
</div>
<button class="toggler" (click)="toggleLayout()">Toggle layout</button>
<button class="loader" (click)="loadJokes()">Load</button>
