.horizontal {
  align-items: flex-start;
  & > * {
    width: 50%;
  }
}

.vertical {
  flex-direction: column;
  & > * {
    height: 50%;
    // align-self: start;
  }
}

.component {
  --bg-col: rgb(185, 228, 230);
  width: 100%;
  height: 95vh;
  background-color: var(--bg-col);
  display: flex;
}

.other-side {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
}

.errors--alert {
  color: red;
  padding: 10px;
  margin-bottom: 15px;
  border: solid 1px red;
  width: 70%;
}

.search-jokes__input,
.search-jokes__input-limit {
  width: 70%;
  padding: 10px 0;
  font-size: 16px;
  color: #505050;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #505050;
  outline: none;
  background: transparent;
}

.load-button,
.toggle-button {
  border: 1px solid #505050;
  padding: 10px 15px;
  color: #505050;
  font-size: 1rem;
  width: 35%;
  cursor: pointer;
  margin-right: 5px;
}

// .load-button:disabled {
//   background: transparent;
// }
// .load-button:disabled:hover {
//   background: transparent;
//   color: #505050;
//   cursor: initial;
// }

.load-button:focus,
.toggle-button:focus {
  outline: none;
}

.load-button:hover,
.toggle-button:hover {
  background: #505050;
  color: rgb(185, 228, 230);
  transition: all 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
