<div
  [ngClass]="{
    wrapper: true,
    horizontal: isHorizontal,
    vertical: !isHorizontal
  }"
>
  <div class="aside">
    <form class="dad-jokes-form">
      <input type="text" placeholder="Jokes filter" #searchTermField />
      <input type="number" placeholder="How many" value="20" #howManyField />
      <div class="number-error" *ngIf="!isValidHowMany">
        Must be a positive integer
      </div>
    </form>
  </div>
  <app-dad-jokes
    [paragraphs]="(jokes$ | async) || []"
    [title]="getTitle()"
  ></app-dad-jokes>
</div>
<button class="toggler" (click)="toggleLayout()">Toggle layout</button>
<button
  class="loader"
  (click)="loadJokes(searchTermField.value, howManyField.value)"
>
  Load
</button>
