<!-- <app-chuck-norris-viewer [isHorizontal]="true"></app-chuck-norris-viewer> -->

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a routerLink ="/chucknorris" class="navigation__link">Chuck Norris Jokes</a>
            </li>
            <li class="navigation__item">
                <a routerLink ="/dadjokes" class="navigation__link">Dad Jokes</a>
            </li>
        </ul>
    </nav>

<router-outlet></router-outlet>
