.navigation {
  //   display: flex;
  //   flex-direction: row;
  background-color: hsl(183, 47%, 98%);
  height: 5vh;

  &__list {
    text-align: end;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0.7rem;
  }

  &__link {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(63, 62, 62);
      padding: 0.5rem 1rem;
      font-size: 14px;
    }
  }

  &__link {
    &:active,
    &:hover {
      color: rgb(125, 173, 176);
      //   background-color: #505050;
      transition: all 0.2s;
    }
  }
}
