<div
  [ngClass]="{
    wrapper: true,
    horizontal: isHorizontal,
    vertical: !isHorizontal
  }"
>
  <div class="aside">
    <h1>Choose your category</h1>
    <ul class="categories-list">
      <li
        *ngFor="let category of categories$ | async"
        (click)="selectCategory(category)"
        [ngClass]="{ 'selected-cat': category === selectedCategory }"
      >
        {{ category }}
      </li>
    </ul>
  </div>
  <app-fun
    [title]="'Test Title'"
    [paragraphs]="(facts$ | async) || []"
  ></app-fun>
</div>
<button class="toggler" (click)="toggleLayout()">Toggle layout</button>
<button class="loader" (click)="loadFacts()">Load</button>
